*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

li,a,h1 {
    font-family:"Playfair Display", serif;
    font-weight:500;
    font-size:16 px;
    color:white;
    text-decoration:none;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10%;

}

.nav_links{
    style:none;
}

.nav_links li {
    display:inline-block;
    padding:0px 20px;

}

.nav_links li a{
    transition:all 0.3 ease 0s;

}
.nav_links li a:hover{
    color:black;
    
}

.title h2{
    text-align:center;
}

.title {
    font-size: 80px;
    color:white;
}

.book img{
    width:200px;
    height: 350px;
}

.books{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:200px;
    margin-right:200px;
    margin-top:70px;
}

.book:hover{
    border-color:#FEFAE0;
    color:white;
    box-shadow: 0 0.5em 0.5em 0 #FEFAE0;
    transform:translateY(-0.25em);
    cursor:pointer;
}

.book{
    border: 2px solid white;
}